<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
{% include "nav.html" %}
<br><br>
{%if request.user.is_authenticated %}
<div class="container" style="border-color: black;">
    <h3 class="text-center" style="color:Blue;"> Personal Data </h3>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
                    <p><b> Name: </b> {{user.first_name}} {{user.last_name}}</p>
                    <p><b>Email: </b> {{user.email}} </p>
                    <p><b>Gender: </b>{{user.gender}}</p>
                    <p><b>Birthday: </b>{{user.birthday}}</p>
        </div>
        <div class="col-md-4">
                    <p><b>Phone: </b>{{user.phone_number}}</p>
                    <p><b>address: </b>{{user.address}}</p>
                    <p><b>work: </b>{{user.work}}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center" style="color:Blue;"> Posts </h3>
            {%for post in posts%}
                <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title" style="color: Gray;">{{post.user}}</h5>
                        <p class="card-text">{{post}}</p>
                        <a href="#" class="btn btn-primary">Show Details</a>
                    </div>
                </div>
            {%endfor%}
        </div>
        <div class="col-md-4">
            <h3 class="text-center" style="color:Blue;"> Friends </h3>
            {% for friend in friends %}
                <div class="card" >
                    <div class="card-body">
                        <p class="card-text">{{friend}}</p>
                        <a href="{% url 'user_profile' friend.id %}" class="btn btn-primary">Visit Page</a>
                    </div>
                </div>
            {%endfor%}
        </div>

        <div class="col-md-4">
            <h3 class="text-center" style="color:Blue;"> Groups Enrolled </h3>
            {% for group in groups %}
                <div class="card" >
                    <div class="card-body">
                        <p class="card-text">{{group}}</p>
                        <a href="{% url 'group_detail' group.id %}" class="btn btn-primary">Visit Group</a>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
</div>
{%else%}
<h1 class="text-center" style="color:Red;">Welcome to our website login or register and enjoy !!!</h1>
{%endif%}
</body>
</html>
