<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeLine</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css"/>
</head>
<body>
{% include 'nav.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center" style="color:Blue; background-color: #79dafb;"> Groups</h3>
            {% for group in groups %}
                <div class="card" >
                    <div class="card-body">
                        <p class="card-text">{{group}}</p>
                        <a href="{% url 'group_detail' group.id %}" class="btn btn-primary">Visit Group</a>
                    </div>
                </div>
            {%endfor%}
        </div>

        <div class="col-md-6">
            <h3 class="text-center" style="color:Blue; background-color: #79dafb;"> Posts </h3>
            <h4 style="margin: 5px 5px 5px 5px;">Share Your Ideas</h4>
            <form  method="post" action="{% url 'create_timeline' %}">
                {% csrf_token %}
                <div  style="padding: 10px 10px 00px 0px;">
                {% include 'form_snippet.html' with form=post_form %}
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-6"></div>
                    <div class="col-md-6 col-md-2">
                <button class="btn btn-primary justify-content-end  " type="submit">Post</button>
                    </div></div><br><br>
            </form>
            <h4 style="margin: 5px 5px 5px 5px;">Or Explore Others</h4>
            {% for key,value in posts.items %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a style="color: Gray;" href="{% url 'user_profile' value.post.user.id %}">
                                {{value.post.user.first_name}}
                            </a>
                        </h5>
                        <p class="card-text">{{value.post.body}}</p>

                        <p> {{value.num_likes}} <b style="color:#c32fd2">Likes</b> </p> <br>
                        {%for comment in value.comments%}
                            <div class="card" style="margin: 10px 10px 10px 10px; padding: 5px;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a style="color: Gray;" href="{% url 'user_profile' comment.user.id %}">
                                            {{comment.user}}
                                        </a>
                                    </h5>
                                    <p class="card-text">{{comment}}</p>
                                </div>

                            <a href="{% url 'delete_comment'  comment.id %}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                            </div>
                        {%endfor%}

                        {%if not value.post_flag%}
                            <a href="{% url 'create_like'  value.post.id %}">Like</a>
                        {%else%}
                            <a href="{% url 'remove_like'  value.like_id %}">Dislike</a>
                        {%endif%}
                        <a href="{% url 'create_comment'  value.post.id %}">Comment</a> <br><br>
                        <a href="{% url 'update_post'  value.post.id %}">Edit Post</a><br>
                        <a href="{% url 'delete_post'  value.post.id %}">Delete Post</a><br>
                    </div>
                </div>
            {%endfor%}
        </div>
</div>
</div>
</body>
</html>