<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user}}</title>
</head>
<body>
{% include 'nav.html' %}
<div class="container" style="border-color: black;">
    <h3 class="text-center" style="color:Blue;"> Personal Data </h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">User Stats</h5>
                    <p class="card-text">
                        {% for key, value in stats.items %}
                        <b>Number of Posts:</b> {{value.num_posts}}<br>
                        <b>number of Friends:</b> {{value.num_friends}}<br>
                        <b>number of Likes received:</b> {{value.num_likes_r}} <br>
                        <b>Number of Likes Made:</b> {{value.num_likes_m}} <br>
                        {%endfor%}
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-4">
                    <p><b> Name: </b> {{user.first_name}} {{user.last_name}}</p>
                    <p><b>Email: </b> {{user.email}} </p>
                    <p><b>Gender: </b>{{user.gender}}</p>
                    <p><b>Birthday: </b>{{user.birthday}}</p>
        </div>
        <div class="col-md-4">
                    <p><b>Phone: </b>{{user.phone_number}}</p>
                    <p><b>address: </b>{{user.address}}</p>
                    <p><b>work: </b>{{user.work}}</p>
        </div>
    </div>
</div>

{%if flag%}
<a href="{%url 'remove_friend' user.id%}">remove friend</a>
{%else%}
<a href="{%url 'add_friend' user.id%}">add friend</a>
{%endif%}
<h3>Mutual Friends</h3>
{%for friend in mutual_friends%}
<a href="{% url 'user_profile' friend.id %}">{{friend}}</a> <br>
{%endfor%}

<br><br><br>
<b>Posts:</b>
{%for post in posts%}
    {{post}}<br>
By: {{post.user}} <br> <br>
{%endfor%}

</body>
</html>